
.sobre-mi{
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* grid-template-columns: repeat(2, 1fr); */
    align-items: center;
    justify-items: center;


    padding: 3% 10% 8% 10%;

    background: linear-gradient(to top, rgba(149,120,147,1) 0%, rgba(232,143,203,0.05646008403361347) 70%, rgba(254,254,254,1) 100%);
    overflow-x: hidden;
}



#sobre-mi .contenedor-foto img {
    width:20rem;
    padding: 12px;
    width:300px;
    height:300px;
    border-radius: 50%;
}

#sobre-mi p{
    margin: 12px 0;
    font-family: 'Tajawal', sans-serif;
    font-weight: 550;
    font-size: 1.7em;
}

#sobre-mi a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}

#sobre-mi a:hover{
    background-color: rgb(170, 148, 169);
    color: #fff;
}




@media (max-width: 1076px) {
    .sobre-mi{
        display: grid;
        grid-template-columns: auto;
        
    }
    
}
